In [2]:
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [131]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Will\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [4]:
# NASA News Url
url = ('https://redplanetscience.com/')
browser.visit(url)
# Making the HTML
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
slide_elem = soup.select_one('div.list_text')
slide_elem.find('div', class_='content_title')

In [5]:
# Extracting Title
nasa_title = slide_elem.find('div',class_='content_title').get_text()

In [6]:
# Extracting Paragraph
nasa_paragraph = slide_elem.find('div',class_='article_teaser_body').get_text()

In [7]:
# Collecting the Latest News Title and Paragraph
print(nasa_title)
print(nasa_paragraph)

Follow NASA's Perseverance Rover in Real Time on Its Way to Mars
A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing.

In [8]:
#Nasa's JPL Mars Space Url
jpl_url = 'https://spaceimages-mars.com/'
browser.visit(jpl_url)
# Making the HTML 
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

image_url = soup.find('img',class_='headerimage fade-in')['src']

featured_image_url = 'https://spaceimages-mars.com/' + image_url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [9]:
#Mars Facts webpage
mars_facts = 'https://galaxyfacts-mars.com/'
mars_facts_table = pd.read_html(mars_facts)

mars_facts_table[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [10]:
# Creating Dataframe 
df = mars_facts_table[0]
header_row = 0
df.columns = ['Mars-Earth Comparison', 'Mars', 'Earth']
df = df.drop(header_row)
df

  Mars-Earth Comparison             Mars            Earth
1             Diameter:         6,779 km        12,742 km
2                 Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                Moons:                2                1
4    Distance from Sun:   227,943,824 km   149,598,262 km
5       Length of Year:   687 Earth days      365.24 days
6          Temperature:     -87 to -5 °C      -88 to 58°C

In [11]:
# Converting Dataframe to HTML
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars-Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
# Clean up unwanted newlines
html_table.replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars-Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [133]:
#Mars Hemisphere Url
mars_hemi_url = "https://marshemispheres.com/"
browser.visit(mars_hemi_url)

In [134]:
hemisphere_urls = [
    'https://marshemispheres.com/cerberus.html',
    'https://marshemispheres.com/schiaparelli.html',
    'https://marshemispheres.com/syrtis.html',
    'https://marshemispheres.com/valles.html'
]

# Create Empty Dictionary
hemisphere_image_urls = []

In [135]:
# For loop through urls
for url in hemisphere_urls:
    print(url)
    links={}
    browser.visit(url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    # Get Titles
    mars_title = soup.find('h2', class_ = 'title').get_text()
    # Get urls for the img
    mars_links = soup.find('img', class_='wide-image')['src']
    img_url = mars_hemi_url + mars_links
    links = dict({'title': mars_title, 'img_url': img_url})
    hemisphere_image_urls.append(links)

    browser.back()

https://marshemispheres.com/cerberus.html
https://marshemispheres.com/schiaparelli.html
https://marshemispheres.com/syrtis.html
https://marshemispheres.com/valles.html

In [136]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [130]:
browser.quit()